{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="span12">
<img src="/static/hest1.PNG" alt=""  width="200px" class="pull-left span6">
<div class="pull-left span6">
	<h1>About Unicorn7</h1>
<p>We love game jams and quirky games. 
<br/><br/>
We created unicorn7.org, because we were sad that we couldn’t easily find and play games that our friends have made at game jams that we didn’t organize or participate in. Now we have a web platform that everyone can upload a game to and now we’re happy again. Who wouldn’t be with a unicorn as your friend? We hope that you’re happy too.
<br/><br/>
Follow us on Twitter and like us on Facebook to keep yourself up to date with game jams and awesome quirky games. You can also contact us here.</p>
</div>



 

</div>
</div>




{% endblock %}