{% extends "unicorn/editgame.html" %}
{% load oembed_tags %}

{% block editContent %}
{% load url from future %}


      <h3>Edit basic info</h3>


<form action="{% url 'games.views.editgamebasic' id=game.id %}" method="post">

 {% csrf_token %}

 {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    
         {{ field.label_tag }}
          
            {% for error in field.errors %}
            <p class="text-error">{{ error}}</p>
             {% endfor %}

             {{ field }}
        <span class="help-block muted"><small>{{ field.help_text }}</small></span>

    {% endfor %}
    <p>
  <button type="submit" class="btn-primary">Save</button>

</p>
</form>

{% endblock %}