{% extends "base.html" %}

{% block content %}
 
<div class="span-24 last">
    
    <h2> Amazing game of 404</h2>
     <p>We're sorry, but the requested game does not exist. Maybe you mistyped the url or maybe you wanted to <a href="#">submit</a> a new game?<br/>
     It's really a shame. I bet you did your best to find a fun game. We don't know what game you were looking for, but we can recommend a random game from the database like <a href="#">this random game</a><br/><br/>
     Have a nice day!
 </p>
    
</div>


{% endblock %}