{% extends "unicorn/editgame.html" %}
{% load oembed_tags %}

{% block editContent %}
{% load url from future %}


      <h3>Edit categories</h3>
      <p>Select some relevant categories. If a category is missing let us know on: <a href="mailto://web@unicorn7.org"> web@unicorn7.org </a> or just tweet to @unicorn7ish. <br/><br/></p>

<form action="{% url 'games.views.submitgamecategories' id=game.id %}" method="post">
{% csrf_token %}
 {% for cat in categories %}


            <label class="checkbox">
              <input type="checkbox"  name="{{cat.category.id}}" id="{{cat.category.id}}" {% if cat.has %}checked {% endif %} >{{cat.category.title}}
            </label>
            <input type="hidden" name="form-0-id" value="1" id="id_form-0-id">
    {% endfor %}
    <br/>
    <p>
  <button type="submit" class="btn-primary">Next</button>
</p>
</form>

{% endblock %}